.card .card-image.main-image {
  margin-top: 40px
}

.flow-text {
  margin: 25px 0;
}

.loadMoreWrapper {
  clear: both;
  text-align: center;
  margin: 25px 0;
}
.loadMore {
  border: 0 none;
  background: #00796b;
  min-width: 100px;
  height: 40px;
  color: #fff;
}
.card .add-wishlist {
  /* visibility: hidden; */
  /* opacity: 0; */
  right: auto;
  bottom: 70px;
  left: 24px;
  z-index: 10;
  position: absolute;
}
.card:hover .add-wishlist {
  visibility: visible;
  opacity: 1;
}