.Login {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  transform: translateY(-100vh);
  opacity: 0;
}

.Login.showMe {
  transform: translateY(0);
  opacity: 1;
}

.Login.showMe .btn {
  margin-top: 25px;
}

.closeLogin {
  position: absolute;
  right: 15px;
  border: 0 none;
  background: transparent;
  font-weight: 800;
  color: #999;
  cursor: pointer;
}
.changeLog {
  color: #00796b;
  cursor: pointer;
  margin: 25px 0;
}

@media (min-width: 600px) {
  .Login {
    width: 500px;
    left: calc(50% - 250px);
  }
}