* {
  margin: 0;
  padding: 0;
}

.btn-floating {
  text-align: center;
}

a {
  color: #00796b;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1 0 auto;
}